allowed_users:
  - 728871946456137770
  - 510065483693817867
dp_secret: 
dp_disable: false # Only enable when bootstrapping
url: https://sysmanage.infinitybots.gg

# Common
github_pat: 

# Enabled plugins
plugins:
  nginx:
    nginx_definitions: data/nginx
    cf_api_token: 
  persist:
    github_webhook_sig: 
  systemd:
    service_definitions: data/services
    service_out: /etc/systemd/system
    srv_mod_bypass:
      - sysmanage
      - deployproxy
      - ibl-maint
  frontend:
  actions:
