[Service]
Type=oneshot
ExecStart=/bin/bash -c 'mount /dev/zvol/silverpelt/nightheart /silverpelt/nightheart/; zfs load-key silverpelt/sunbeam; zfs mount silverpelt/sunbeam; chown -Rv postgres:postgres /silverpelt/sunbeam/; chown -Rv mongodb /silverpelt/nightheart/mongodb/; systemctl restart mongod; systemctl restart postgresql'
User=root
Group=root
WorkingDirectory=/root

[Install]
WantedBy=multi-user.target

[Unit]
Description="MongoZFS trigger"
After=network.target
